@use '../../partials/mixins/mixins-paddings' as *;
@use '../../partials/mixins/typography' as *;
@use '../../partials/mixins/variable' as *;
@use '../../partials/mixins/mixins' as *;

.next-video {
  @include padding-sides;

  @include desktop {
    padding: 0;
    padding-left: 1rem;
  
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
    border-left: $mercury 0.063rem solid;
  }

  &__header {
    @include h3-subheader;
    color: $mercury;
  }

  &__image {
    width: 7.5rem;
    height: 4.375rem;
    padding-right: 1rem;
  }

  //this section is for the writing part of the block

  &__title-and-channel-block {
    @include tablet {
      width: 10rem;
    }
  }

  &__block {
    display: flex;
    margin-top: 1.5rem;
    height: 4.375rem;
  }

  &__title {
    margin: 0;
    padding-bottom: 1rem;
    font-weight: 600;
  }
  &__channel {
    margin: 0;
  }
}
