@use '../../partials/mixins/variable' as *;
@use '../../partials/mixins/mixins-paddings' as *;
@use '../../partials/mixins/mixins' as *;
@use '../../partials/mixins/typography' as *;

body {
  margin: 0;
  padding: 0;
}

//header is a wrapper

.header {
  display: flex;
  flex-direction: column;
  height: 10.5rem;
  @include padding-sides;
  

  @include tablet {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
  }

  &__img-box{
    color: inherit;
    cursor: none;
    text-decoration: none;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //logo

  &__img {


    @include tablet {
      padding-right: 8.5rem;
      height: 2rem;
      padding-top: 0;

      @include desktop {
        padding-right: 31rem;
      }
    }
  }

  &__avatar {
    @include avatar;
    margin-left: 1rem;

    @include tablet {
      margin-left: 1.5rem;
    }
  }

  //search bar with button

  &__form {
    display: flex;
    flex-direction: column;
    

    @include tablet {
      flex-grow: 2;
      display: flex;
      flex-direction: row;
      padding-top: 0;
      height: 5rem;
      align-items: center;
    }

    &-sub-wrapper {
      display: flex;
      align-items: center;
      @include padding-top-between-content;

      @include tablet {
        width: 15rem;
        padding-left: 1.5rem;
        padding-top: 0;
      }
    }
  }

  //search bar box

  &__search {
    background-image: url("../../assets/Icons/Icon-search.svg");
    background-position: 1rem 1rem;
    @include form-field;
    background-repeat: no-repeat;
    text-indent: 3rem;

    @include tablet {
      width: 75%;
      height: 3rem;
      padding: 0;
    }
  }

  &__button-link{
    color: inherit;
    cursor: none;
    text-decoration: none;
    width: 100%;

    @include tablet{
      height: 3rem
    }
  }
  &__button {
    @include button;
    font-weight: 600;

    @include tablet{
      height: 3rem;
    }
  }
}
