//screen breakpoints

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 90rem;

//colors

$black: #323232; //global text color, nav background fill

$lightblue: #0095ff; //primary cta and text link

$darkblue: #0065ad; //primary cta hover

$mercury: #e1e1e1; // divider color 
