@use '../../partials/mixins/mixins-paddings' as *;
@use '../../partials/mixins/variable' as *;
@use '../../partials/mixins/mixins' as *;

//this section is only for the poster of the video after header

.video {
  display: flex;
  height: 14rem;

  @include tablet {
    @include padding-sides;
    margin-top: 1rem;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 25rem;
  }

  @include desktop {
    height: 33.75rem;
  }

  &__flex {
    flex-grow: 2;
    display: flex;

    @include tablet {
      display: flex;
    }
    @include desktop {
      display: flex;
    }
  }

  &__box {
    width: 100%;
    object-fit: cover;

    @include tablet {
      object-fit: contain;

      display: flex;
      flex-grow: 2;
    }
    @include desktop {
      width: unset;
      height: 100%;
    }
  }
}
