@use '../../partials/mixins/mixins' as *;
@use '../../partials/mixins/typography' as *;
@use '../../partials/mixins/variable' as *;

@use '../../partials/mixins/mixins-paddings' as *;



.video-details{
    display: flex;
    flex-direction: column;

    @include padding-sides;

    &-title{
        @include h1-hero-header;
        @include margin-reset;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    &__channel-and-date{
        display: flex;
        @include h1-header;
        padding-bottom: 2rem;
    }

    &__channel{
        padding-right: 0.5rem;
        @include margin-reset;
    }

    &__date{
        color: $mercury;
        @include margin-reset;
    }

    &__views-likes-block{
        display: flex;

        h4{
            @include margin-reset;
        }
    }

    &__views{
        display: flex;
        padding-right: 2rem;

        img{
            padding-right: 0.5rem;
        }
        
    }

    &__likes{
        display: flex;

        img{
            margin-right: 0.5rem;
        }
    }

    &__divider{
        @include divider;
    }
}