@use '../../partials/mixins/variable' as *;
@use '../../partials/mixins/mixins-paddings' as *;
@use '../../partials/mixins/mixins' as *;
@use '../../partials/mixins/typography' as *;

.comments{

    &__form-flex{
        display: flex;
    }
    &__comment-box{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }

    &__form-avatar{
        @include avatar;
    }

    &__button{
        @include button;
    }
}